.custom ::ng-deep .ngx-pagination {
    margin-bottom: 0 !important;
}
.custom ::ng-deep .ngx-pagination li {
    -o-border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    font-size: 16px;
}


.custom ::ng-deep .ngx-pagination li.disabled {
    cursor: not-allowed;
}


::ng-deep {
    .mat-mdc-form-field-subscript-wrapper {
        display: none !important;
    }
}

::ng-deep {
    mat-form-field {
        padding: 0 !important;
        margin: 0 !important; 
    }
}

::ng-deep {
    mat-label {
        padding: 0 !important;
        margin: 0 !important; 
    }
}
