<div class="mt-4">
  <form>
    <div class="flex flex-wrap mt-3">
      <div class="w-full md:w-1/4 px-2 mb-4 md:mb-0">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="search">{{"tasks.search_by_user" |
          translate}}</label>
        <input id="search" type="text" placeholder="title search" (keyup)="search($event.target)"
          class="w-full border border-gray-300 rounded py-2 px-3 leading-tight focus:outline-none focus:ring focus:border-blue-300" />
      </div>
    </div>
  </form>

  <div class="listBox mt-4">
    <table class="w-full shadow-lg mt-2">
      <thead>
        <tr class="text-left text-gray-300 " style="background-color: #1f2937">
          <th class="py-2 px-4 border-r-2 border-l-2 text-center">{{"table.id" | translate}}</th>
          <th class="py-2 px-4 border-r-2 text-center">{{"table.name" | translate}}</th>
          <th class="py-2 px-4 border-r-2 text-center">{{"table.email" | translate}}</th>
          <th class="py-2 px-4 border-r-2 text-center">{{"table.assigned_task" | translate}}</th>
          <th class="py-2 px-4 border-r-2 text-center">{{"table.actions" | translate}}</th>
        </tr>
      </thead>
      <tbody *ngIf="!spinnerService.apiCount">
        <tr class="hover:bg-gray-50"
          *ngFor="let user of dataSource| paginate: { id: 'users',itemsPerPage: itemsPerPage,currentPage: page,totalItems: totalItems }; let i = index ">
          <td class="py-1 px-4 border-b border-r-2 text-center">
            <!-- <img [src]="'https://angular-amer.onrender.com/' + task.image" alt="" class="w-16 h-16 p-1" /> -->
            {{i + 1}}
          </td>
          <td class="py-2 px-4 border-b border-r-2 text-center">{{ user.username }}</td>
          <td class="py-2 px-4 border-b border-r-2 text-center">{{ user.email }}</td>
          <td class="py-2 px-4 border-b border-r-2 text-center">{{ user.assignedTasks }}</td>
          <td class="py-2 px-4 border-b flex items-center space-x-2 justify-center text-center">
            <button *ngIf="!spinnerService.apiCount" class="bg-red-500 text-white font-bold py-1 px-3 rounded"
              (click)="deleteUser(user._id)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
          <app-spinner class="bg-red-500 py-2 px-4 rounded-lg"></app-spinner>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-spinner class="flex justify-center items-center p-2.5 bg-gray-200"></app-spinner>



<div class="flex justify-center items-center py-2 px-6 bg-gray-100 border border-gray-200 rounded-lg shadow-md">
  <div class="flex items-center space-x-3">
    <label for="itemsPerPageSelect" class="text-gray-700 font-medium">{{"table.paginate_page" |translate}}</label>
    <select id="itemsPerPageSelect" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange()"
      class="border border-gray-300 rounded-lg px-3 py-2 bg-white shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500">
      <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
    </select>
  </div>

  <pagination-controls previousLabel="" nextLabel="" id="users" (pageChange)="changePage($event)"
    class="flex space-x-3 text-gray-700 custom"></pagination-controls>
</div>