
input.ng-valid.ng-touched {
    border: none !important;
    border: 1px solid #4f46e5  !important;
}

input:focus {
    outline: none !important;
}


.required-field {
border: 1px solid red;
}

.required-label::after {
content: "*";
color: red;
margin-left: 4px;
}